doctype html
head
    title GitLab Navigator Options
body
    section
        h1 Options

        h3 Address bar navigation
        div
            span(style='margin-right: 10px;') Choose target suffix
            select#omnibox-target-suffix
                option /
                option /boards
                option /issues
                option /pipelines
                option /merge_requests
                option /branches

        h3 Project picker navigation
        div
            span(style='margin-right: 10px;') Choose target suffix
            select#picker-target-suffix
                option /
                option /boards
                option /issues
                option /pipelines
                option /merge_requests
                option /branches
    br
    hr
    center
        button#save Save
    
    script(src='/scripts/options.js')