/*
    Placement
*/

.dropdown-menu.dropdown-select.dropdown-menu-projects {
    max-width: 500px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 70px;
}

.dropdown-menu.dropdown-select.dropdown-menu-projects > .dropdown-content {
    max-height: 415px;
    /* TODO: Should be customizable: 215 | 315 | 415 | none */
}

@media (min-width: 768px) {
    .dropdown-menu.dropdown-select.dropdown-menu-projects {
        width: 500px;
        /* TODO: Should be customizable: 500 | 700 | 900 */
    }
}


/*
    Overlay
*/

.js-dropdown-menu-projects.open:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 100vh;
    margin-left: -10%;
    background: rgba(0, 0, 0, .7);
    pointer-events: none;
}